<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
          <div class="steps-content">{{descrText}}</div>
          <br />
          <ul class="steps-list">
            <li
              class="steps-item"
              v-for="(step, index) in steps"
              :key="index"
              :class="{done: index <= activeIndex ? true : false} "
            >
              <span
                @click="setActive(index)"
                :style="{color: index === activeIndex ? 'white' : 'black'}"
                >{{index + 1}}</span
              >
              {{step.title}}
            </li>
          </ul>
          <div>
            <button
              class="btn"
              :disabled="isButtonDisabled"
              @click="prev"
              v-if="activeIndex === steps.length ? false : true"
            >
              Назад
            </button>
            <button
              class="btn primary"
              @click="next"
              v-if="activeIndex >= steps.length - 1 ? false : true"
            >
              Вперед
            </button>
            <button
              class="btn primary"
              @click="finish"
              v-if="activeIndex === steps.length - 1 ? true : false"
            >
              Закончить
            </button>
            <button
              class="btn primary"
              v-if="activeIndex >= steps.length  ? true : false"
              @click='reset'
            >
              начать с начала
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
