<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>

    <link rel="stylesheet" href="./theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1 :style="{ color:  inputValue.length < 5 ? 'blue' : 'green' }">
          {{title}}
        </h1>
        <div class="form-control">
          <input
            type="text"
            v-bind:placeholder="placeholder"
            v-model="inputValue"
            @:keypress.enter="addNote"
          />
        </div>
        <button class="btn" @click="addNote">Added</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(note, index) in notes" :key="index">
            <span :class="note.length > 3 ? 'red' : 'blue'"
              >{{index + 1}} - {{note}}</span
            >
            <button class="btn danger" @click="deleteNote(index)">
              delete
            </button>
          </li>
          <hr />
          <li>Общеё количевство : {{notes.length}}</li>
        </ul>
        <div class="div" v-else>notes none, added new Post</div>
        |||
        <div>duble : {{doubleCountComputed}}</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
  </body>
</html>
